body {
    background-color: #f0f0f0; /* Светлый фон для контраста */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.test-chart {
    width: 200px;
    height: 250px;
    border-bottom: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.test-bar {
    width: 80px;
    height: 150px; /* Фиксированная высота */
    background-color: #007bff; /* Яркий синий цвет */
}
